<div class="team wow fadeInUp">
    <section class="team-inner">

        <h2 class="page__subtitle page__subtitle--center">Наша команда</h2>

        <div class="team__cols">

            <div class="team__col">

                <picture class="team__photo">
                    <source srcset="static/img/content/team/ph-1.avif" type="image/avif">
                    <source srcset="static/img/content/team/ph-1.webp" type="image/webp">
                    <source srcset="static/img/content/team/ph-1.png">
                    <img src="static/img/content/team/ph-1.png" alt="team__photo">
                </picture><!-- ./team__photo -->

                <picture class="team__photo">
                    <source srcset="static/img/content/team/ph-2.avif" type="image/avif">
                    <source srcset="static/img/content/team/ph-2.webp" type="image/webp">
                    <source srcset="static/img/content/team/ph-2.png">
                    <img src="static/img/content/team/ph-2.png" alt="team__photo">
                </picture><!-- ./team__photo -->

            </div><!-- ./team__col -->

            <div class="team__col">

                <picture class="team__photo">
                    <source srcset="static/img/content/team/ph-3.avif" type="image/avif">
                    <source srcset="static/img/content/team/ph-3.webp" type="image/webp">
                    <source srcset="static/img/content/team/ph-3.png">
                    <img src="static/img/content/team/ph-3.png alt="team__photo">
                </picture><!-- ./team__photo -->

                <picture class="team__photo">
                    <source srcset="static/img/content/team/ph-4.avif" type="image/avif">
                    <source srcset="static/img/content/team/ph-4.webp" type="image/webp">
                    <source srcset="static/img/content/team/ph-4.png">
                    <img src="static/img/content/team/ph-4.png" alt="team__photo">
                </picture><!-- ./team__photo -->

            </div><!-- ./team__col -->

            <div class="team__col">

                <picture class="team__photo">
                    <source srcset="static/img/content/team/ph-5.avif" type="image/avif">
                    <source srcset="static/img/content/team/ph-5.webp" type="image/webp">
                    <source srcset="static/img/content/team/ph-5.png">
                    <img src="static/img/content/team/ph-5.png" alt="team__photo">
                </picture><!-- ./team__photo -->

                <button class="team__gallery">
                    <a href="#">Перейти в галерею</a>
                </button>

            </div><!-- ./team__col -->

            <div class="team__col">

                <picture class="team__photo">
                    <source srcset="static/img/content/team/ph-7.avif" type="image/avif">
                    <source srcset="static/img/content/team/ph-7.webp" type="image/webp">
                    <source srcset="static/img/content/team/ph-7.png">
                    <img src="static/img/content/team/ph-7.png" alt="team__photo">
                </picture><!-- ./team__photo -->

                <picture class="team__photo">
                    <source srcset="static/img/content/team/ph-8.avif" type="image/avif">
                    <source srcset="static/img/content/team/ph-8.webp" type="image/webp">
                    <source srcset="static/img/content/team/ph-8.png">
                    <img src="static/img/content/team/ph-8.png" alt="team__photo">
                </picture><!-- ./team__photo -->

            </div><!-- ./team__col -->

        </div>

    </section><!-- ./team-inner -->
</div><!-- ./team -->