// GUI stylies of the project
// For example, styles of the links, buttons and so on.

html {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 & 9 */
    filter: alpha(opacity=0);
    /* newer IE */
    -moz-opacity: 0;
    /* Older than Firefox 0.9 */
    -khtml-opacity: 0;
    /* Safari 1.x (pre WebKit) */
    opacity: 0;
    /* (modern browsers) initially sets nothing displayed on page */
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: opacity .3s linear;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}