// File for scss-vars.
// For example: main colors, paddings and so on.

// Colors 

$accent: #E27410;
$hover: #F47A0B;
$text: #2D3343;
$title: #313B59;
$bg-light: #F4F7FB;
$bg-linear: linear-gradient(90deg, #014C88 0%, #015DA0 48.84%, #026AB3 103.05%);
$input: #969696;
$border: #F2F2F2;
$white: #ffffff;
