<div class="quest wow fadeInUp">
    <div class="wrapper">
        <section class="quest-inner">

            <div class="quest__left">

                <h2 class="page__subtitle page__subtitle--light">
                    Задайте свой вопрос
                </h2>

                <form action="#" name="newform" method="post" class="quest__form">

                    <div class="form__left">

                        <div class="form__block">
                            <input name="fio" type="text" class="form__input" placeholder="Имя"
                                data-validate-field="fio">
                        </div>

                        <div class="form__block form__block--reset">
                            <input name="phone" type="tel" class="form__input form__input--phone"
                                data-validate-field="phone" placeholder="+7 (9__) ___-__-__">
                            {{Icon className="reset__form reset__form--hidden" iconName="close"}}
                        </div>

                        <div class="form__block">
                            <input name="mail" type="email" class="form__input" placeholder="Email"
                                data-validate-field="mail">
                        </div>

                    </div><!-- ./form__left -->

                    <div class="form__area">
                        <textarea class="area__text" name="comment" placeholder="Комментарий..."></textarea>
                    </div>


                    <div class="form__sumbit">
                        <div class="form__check">

                            <div class="checkbox">
                                <input class="checkbox__input" type="checkbox" id="checkbox_1">
                                <label class="checkbox__label" for="checkbox_1">
                                    <span class="checkbox__text">Я согласен на обработку </span><a class="checkbox__link"
                                    href="#">персональных
                                    данных</a>
                                    {{Icon className="checkbox__svg" iconName="check-mark"}}
                                </label>
                            </div><!-- ./checkbox -->

                        </div><!-- ./form__check -->

                        <button type="submit" class="form__btn">
                            Отправить
                        </button>
                    </div>

                </form><!-- ./ quest__form-->

            </div><!-- ./quest__left -->

            <div class="quest__right">

                <h2 class="page__subtitle page__subtitle--light">
                    Позвоните
                </h2>

                <div class="right__phones">

                    <div class="phone">
                        {{Icon className="phone__svg" iconName="whatsapp-phone"}}

                        <div class="phone__text">
                            <span class="phone__subtitle">Лаборатория </span>
                            <a href="tel:+7(383) 335-99-04" class="phone__numbers">(383) 335-99-04</a>
                        </div><!-- ./phone__text -->

                    </div>

                    <div class="phone">
                        {{Icon className="phone__svg" iconName="whatsapp-phone"}}

                        <div class="phone__text">
                            <span class="phone__subtitle">Судебная экспертиза</span>
                            <a href="tel:+7(383) 335-96-03" class="phone__numbers">(383) 335-96-03</a>
                        </div><!-- ./phone__text -->

                    </div>

                    <div class="phone">
                        {{Icon className="phone__svg" iconName="whatsapp-phone"}}

                        <div class="phone__text">
                            <span class="phone__subtitle">Секретарь</span>
                            <a href="tel:+7(383) 335-99-39" class="phone__numbers">(383) 335-99-39</a>
                        </div><!-- ./phone__text -->

                    </div>

                </div><!-- ./ right__phones -->

            </div><!-- ./quest__right -->

        </section><!-- ./quest-inner -->
    </div><!-- ./wrapper -->
</div><!-- ./quest -->