<div class="contact wow fadeInUp">
    <section class="contact-inner">
        <div class="contact__left">

            <h2 class="page__subtitle">
                Контакты
            </h2>

            <div class="contact__section">

                <div class="contact__top">

                    <div class="contact__block">

                        <div class="contact__up">
                            {{ Icon className="contact__svg" iconName="whatsapp-phone"}}
                            <span class="contact__title">
                                Адрес
                            </span>
                        </div>

                        <span class="contact__info">
                            630060, г. Новосибирск, <br> ул.Зеленая Горка,12.
                        </span>

                    </div><!-- ./contact__block -->

                    <div class="contact__block">

                        <div class="contact__up">
                            {{ Icon className="contact__svg" iconName="whatsapp-phone"}}
                            <span class="contact__title">
                                E-mail
                            </span>
                        </div>

                        <a href="mailto:IPL@54.mchs.gov.ru" class="contact__info">
                            IPL@54.mchs.gov.ru
                        </a>

                    </div><!-- ./contact__block -->

                </div><!-- ./contact__top -->

                <div class="contact__bottom">

                    <div class="contact__block">

                        <div class="contact__up">
                            {{ Icon className="contact__svg" iconName="whatsapp-phone"}}
                            <span class="contact__title">
                                Телефоны
                            </span>
                        </div><!-- ./contact__up -->

                        <div class="contact__sub-block">
                            <h4 class="contact__subtitle">
                                Лаборатория
                            </h4>

                            <a href="tel: +7 (383) 335-99-04" class="contact__info">
                                (383) 335-99-04
                            </a>
                        </div>
                        <!-- ./contact__sub-block-->

                        <div class="contact__sub-block">
                            <h4 class="contact__subtitle">
                                Судебная экспертиза
                            </h4>

                            <a href="tel: +7 (383) 335-96-03" class="contact__info">
                                (383) 335-96-03
                            </a>
                        </div>
                        <!-- ./contact__sub-block-->

                        <div class="contact__sub-block">
                            <h4 class="contact__subtitle">
                                Секретарь
                            </h4>

                            <a href="tel: +7 (383) 335-99-39" class="contact__info">
                                (383) 335-99-39
                            </a>
                        </div>
                        <!-- ./contact__sub-block-->

                    </div><!-- ./contact__block -->

                    <div class="contact__block">

                        <div class="contact__up">
                            {{ Icon className="contact__svg" iconName="clock"}}
                            <span class="contact__title">
                                Приём посетителей
                            </span>
                        </div>

                        <div class="contact__sub-block">
                            <h4 class="contact__subtitle">
                                Пн—Чт
                            </h4>

                            <span href="tel: +7 (383) 335-99-39" class="contact__info">
                                9:00-18:00
                            </span>
                        </div>
                        <!-- ./contact__sub-block-->

                        <div class="contact__sub-block">
                            <h4 class="contact__subtitle">
                                Пт
                            </h4>

                            <span href="tel: +7 (383) 335-99-39" class="contact__info">
                                9:00-16:45
                            </span>
                        </div>
                        <!-- ./contact__sub-block-->

                        <div class="contact__sub-block">
                            <h4 class="contact__subtitle">
                                Обед
                            </h4>

                            <span href="tel: +7 (383) 335-99-39" class="contact__info">
                                13:00-13:45
                            </span>
                        </div>
                        <!-- ./contact__sub-block-->

                    </div><!-- ./contact__block -->

                </div><!-- ./contact__bottom -->

            </div><!-- ./contact__section -->

        </div>

        <div class="contact__right">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aff9dd45e9d4ac21cf624dd0d3a04a3854d65fff6a9ca76ec640e9d18d6fb5a6f&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
        </div><!-- ./contact__right -->

    </section><!-- ./contact-inner -->
</div><!-- ./contact -->