<header class="header">
  <div class="wrapper">
    <section class="header-inner">

      <picture class="header-inner__logo">
        <source srcset="static/img/content/logo-main.avif" type="image/avif">
        <source srcset="static/img/content/logo-main.webp" type="image/webp">
        <source srcset="static/img/content/logo-main.png">
        <img src="static/img/content/bg-main.png" alt="logo">
      </picture><!-- ./header-inner__logo -->

      <div class="header-inner__nav">

        <div class="header__mobile">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul class="nav__top">

          <li class="top__item">
            <a class="top__link" href="#">
              МЧС России
            </a>
          </li><!-- ./top__item -->

          <li class="top__item">
            <a class="top__link" href="#">
              ГУ МЧС России
            </a>
          </li><!-- ./top__item -->

          <li class="top__item">
            <a class="top__link" href="#">
              ИЦЭП МЧС России
            </a>
          </li><!-- ./top__item -->

          <li class="top__item">
            <button class="top__button">
              {{Icon className="top__button--svg" iconName="eyes"}}
              <span>Версия для слабовидящих</span>
            </button>
          </li><!-- ./top__item -->

          <li class="top__item">
            <a class="top__link top__link--phone" href="tel:+7 (383) 335-99-39">
              {{Icon className="top__link--svg" iconName="whatsapp"}}
              {{Icon className="top__link--svg" iconName="whatsapp_rectangle"}}
              <span>+7 (383) 335-99-39</span>
            </a>
          </li><!-- ./top__item -->

        </ul><!-- ./nav__top -->

        <ul class="nav__bottom">

          <li class="bottom__item">
            <a href="#" class="bottom__link">Об учреждении</a>
          </li>

          <li class="bottom__item">
            <a href="#" class="bottom__link">Эксперты</a>
          </li>

          <li class="bottom__item">
            <a href="#" class="bottom__link">Документы</a>
          </li>

          <li class="bottom__item">
            <span class="bottom__link">Услуги</span>

            <ul class="dropdown">

              <li class="dropdown__item">
                <a href="#" class="dropdown__link">
                  Определение соответствия проектной документациив области ПБ
                </a>
              </li>

              <li class="dropdown__item">
                <a href="#" class="dropdown__link">
                  Экспертные исследования
                </a>
              </li>

              <li class="dropdown__item">
                <a href="#" class="dropdown__link">
                  Испытания веществи материалов
                </a>
              </li>

              <li class="dropdown__item">
                <a href="#" class="dropdown__link">
                  Испытание систем противопожарной защиты
                </a>
              </li>

              <li class="dropdown__item">
                <a href="#" class="dropdown__link">
                  Сертификационные испытания
                </a>
              </li>

            </ul><!-- ./dropdown -->

          </li>

          <li class="bottom__item">
            <a href="#" class="bottom__link">Антикоррупция</a>
          </li>

          <li class="bottom__item">
            <a href="#" class="bottom__link">Галерея</a>
          </li>

          <li class="bottom__item">
            <a href="#" class="bottom__link">Контакты</a>
          </li>

          <li class="bottom__item">
            <a href="#" class="bottom__link">Ещё</a>
          </li>

        </ul>

      </div><!-- ./header-inner__nav -->

    </section><!-- ./header-inner -->
  </div><!-- ./wrapper -->
</header>