<div class="order wow fadeInUp">
    <div class="wrapper">
        <section class="order-inner">

            <h2 class="page__subtitle page__subtitle--center">
                Процедура оформления
            </h2>

            <div class="order__steps">

                <div class="step__item">

                    <div class="step__top">
                        {{Icon className="step__rect step__rect--shadow" iconName="hover-rectangle"}}
                        <span class="step__number">1</span>
                    </div>

                    <span class="step__text step__text--shadow">
                        Письмо-заявка
                        от заказчика
                    </span>
                </div><!-- ./step__item -->

                <div class="step__item">

                    <div class="step__top">
                        {{Icon className="step__rect" iconName="rectangle-white"}}
                        <span class="step__number">2</span>
                    </div>

                    <span class="step__text">
                        Регистрация
                        письма-заявки
                    </span>
                </div><!-- ./step__item -->

                <div class="step__item">

                    <div class="step__top">
                        {{Icon className="step__rect" iconName="rectangle-white"}}
                        <span class="step__number">3</span>
                    </div>

                    <span class="step__text">
                        Заключение договора,
                        выставление счета
                    </span>
                </div><!-- ./step__item -->

                <div class="step__item">

                    <div class="step__top">
                        {{Icon className="step__rect" iconName="rectangle-white"}}
                        <span class="step__number">4</span>
                    </div>

                    <span class="step__text">
                        Проведение работ,
                        оказание услуг
                    </span>
                </div><!-- ./step__item -->

                <div class="step__item">

                    <div class="step__top">
                        {{Icon className="step__rect" iconName="rectangle-white"}}
                        <span class="step__number">5</span>
                    </div>

                    <span class="step__text">
                        Регистрация
                        заключения
                    </span>
                </div><!-- ./step__item -->

                <div class="step__item">

                    <div class="step__top">
                        {{Icon className="step__rect step__rect--shadow" iconName="hover-rectangle"}}
                        <span class="step__number">6</span>
                    </div>

                    <span class="step__text step__text--shadow">
                        Подписание акта
                        выполненных работ
                    </span>
                </div><!-- ./step__item -->

            </div><!-- ./order__steps -->

        </section><!-- ./order-inner -->
    </div><!-- ./wrapper -->
</div><!-- ./order -->