<div class="services wow fadeInUp">
    <div class="wrapper">
        <section class="services-inner">

            <div class="services__top">
                <h2 class="page__subtitle page__subtitle--lined">
                    <a class="page__subtitle page__subtitle--link" href="#">Услуги
                        {{Icon className="services__svg" iconName="arrow-circle"}}
                    </a>
                </h2>
            </div><!-- ./services__top -->

            <div class="services__list">

                <div class="services__item">
                    <span class="item__text">Определение соответствия проектной документациив области ПБ</span>
                    {{Icon className="item__svg item__svg--big" iconName="paper"}}
                    {{Icon className="item__rect item__rect--big" iconName="rectangle-bg"}}

                    <a href="#" class="item__more">Подробнее
                        {{Icon iconName="arrow"}}
                    </a>

                </div><!-- ./services__item -->

                <div class="services__item">
                    <span class="item__text">Экспертные
                        исследования</span>
                    {{Icon className="item__svg" iconName="worker"}}
                    {{Icon className="item__rect" iconName="rectangle-bg"}}

                    <a href="#" class="item__more">Подробнее
                        {{Icon iconName="arrow"}}
                    </a>
                </div><!-- ./services__item -->

                <div class="services__item">
                    <span class="item__text">Испытания веществ и материалов</span>
                    {{Icon className="item__svg" iconName="bottle"}}
                    {{Icon className="item__rect" iconName="rectangle-bg"}}

                    <a href="#" class="item__more">Подробнее
                        {{Icon iconName="arrow"}}
                    </a>
                </div><!-- ./services__item -->

                <div class="services__item">
                    <span class="item__text">Испытание систем противопожарной защиты</span>
                    {{Icon className="item__svg" iconName="fire-off"}}
                    {{Icon className="item__rect" iconName="rectangle-bg"}}

                    <a href="#" class="item__more">Подробнее
                        {{Icon iconName="arrow"}}
                    </a>
                </div><!-- ./services__item -->

                <div class="services__item">
                    <span class="item__text">Экспертные
                        исследования</span>
                    {{Icon className="item__svg" iconName="contract"}}
                    {{Icon className="item__rect" iconName="rectangle-bg"}}

                    <a href="#" class="item__more">Подробнее
                        {{Icon iconName="arrow"}}
                    </a>
                </div><!-- ./services__item -->

            </div>

        </section><!-- ./services-inner -->
    </div><!-- ./wrapper -->
</div><!-- ./services -->