<main class="main wow fadeInUp">
    <div class="wrapper">
        <section class="main-inner">

            <div class="main__top">
                <h1 class="page__title">ФГБУ СЭУ ФПС</h1>
                <p class="top__text">ФГБУ СЭУ ФПС Испытательная пожарная <br> лаборатория по Новосибирской области</p>
            </div><!-- ./main__top -->

            <div class="main__bottom">

                <div class="bottom__card">
                    {{Icon className="bottom__svg" iconName="backpack"}}
                    <span class="bottom__text">Работаем <br> с 1957 года</span>
                </div><!-- ./bottom__card -->

                <div class="bottom__card">
                    {{Icon className="bottom__svg" iconName="contract"}}
                    <span class="bottom__text">Качество проверенное временем</span>
                </div><!-- ./bottom__card -->

                <div class="bottom__card">
                    {{Icon className="bottom__svg" iconName="balance"}}
                    <span class="bottom__text">Современное испытательное оборудование</span>
                </div><!-- ./bottom__card -->

            </div><!-- ./main__bottom -->

        </section>
    </div>
</main>